<section class="instagram-feed-section-os">
  <div class="container-os">
    <h2 id="instaTitle-os">SHOP OUR INSTAGRAM</h2>
    <div class="instagram-feed-row-1-os" id="InstaPic">
  </div>
</section>

{% schema %}
{
  "name": "InstaFeed-os",
  "target": "section",
  "javascript": "app.js",
  "stylesheet": "app.css",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}